**/.DS_Store
**/._*

**/archive/**

C1omics_abstract/**
drafts_slides_notes/**
early_work/**
gating_schemes/**
paper/**
parameters_spreadsheet/**
plots/**
plots_submission/**
results_auto_n_clus/**
results_manual_n_clus/**
supplementary_info/**
templates/**
tex_file_from_Gosia/**
tex_file_from_Charlotte/**

**/.RData
