**/.DS_Store
**/._*

**/archive/**

bioRxiv_preprint/**
C1omics_abstract/**
drafts_slides_notes/**
early_work/**
gating_schemes/**
ICML_extended_abstract/**
paper/**
parameters_spreadsheet/**
plots/**
plots_submission/**
poster_SIB_Days/**
results_auto/**
results_ensemble/**
results_manual/**
results_range_k/**
results_stability_analysis/**
reviewer_response_letter/**
submission_files/**
supplementary_info/**
templates/**
tex_file_from_Charlotte/**
tex_file_from_Gosia/**

**/.RData
